<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">



	<bean id="constants" class="com.unbank.exceptionCaught.Constants"
		init-method="init">
		<property name="SERVERIP">
			<value>10.0.2.26</value>
		</property>
		<property name="SERVERPORT">
			<value>50035</value>
		</property>
		<property name="USE_SSL">
			<value>false</value>
		</property>
		<property name="HEARTBEATRATE">
			<value>10</value>
		</property>
		<property name="HEARTBEATREQUEST">
			<value>HEARTBEATREQUEST</value>
		</property>
		<property name="HEARTBEATRESPONSE">
			<value>HEARTBEATRESPONSE</value>
		</property>
		<property name="HEART_TIMEOUT">
			<value>30000</value>
		</property>
		<property name="CLENT_TIMEOUT">
			<value>30000</value>
		</property>

		<property name="ISTANCHUANG">
			<value>true</value>
		</property>

	</bean>
	<context:component-scan base-package="com.unbank" />



</beans>